In [1]:
import pandas as pd; pd.set_option('max_columns', 6)
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from functools import partial
import geopandas as gpd
import geoplot as gplt
import os, sys
geolocator = Nominatim(user_agent='geopy')
os.getcwd()

'/home/kesoh/esoh/uct/hmgReview'

In [56]:
# open a file for writing output
f = open("test.loc.csv", "r+")

# make list of locations to search (geolocate): or load list from an existing file
ctry = ['buea, cameroon', 'lagos, nigeria', 'juja, kenya']

# set list and library variables
lat = []
lon = []
Cty = []
Ctr = []
locdat = {}

# sample weight data
frq = [18, 25, 10]

# search locations and update library
for i in ctry:
    location = geolocator.geocode(i)
    lat.append(location.latitude)
    lon.append(location.longitude)
    Cty_pieces = location.address.split(",")
    Cty.append(Cty_pieces[0])
    Ctr.append(Cty_pieces[-1])
    locdat = {'City':Cty, 'Country':Ctr, 'Freq':frq, 'Lat':lat, 'Lon':lon}

# make dataframe of from library and write to csv  
df = pd.DataFrame(locdat)
df.to_csv(f, index=False, mode='r+')
df

    City             Country  Freq       Lat        Lon
0   Buea   Cameroon;Cameroun    18  4.156799   9.231552
1  Lagos             Nigeria    25  6.455057   3.394179
2   Juja               Kenya    10 -1.101523  37.015876

In [57]:
gdf = gpd.GeoDataFrame(locdat, geometry=gpd.points_from_xy(df['Lon'], df['Lat']))
gdf

,City,Country,Freq,Lat,Lon,geometry
0,Buea,Cameroon;Cameroun,18,4.156799,9.231552,POINT (9.23155 4.15680)
1,Lagos,Nigeria,25,6.455057,3.394179,POINT (3.39418 6.45506)
2,Juja,Kenya,10,-1.101523,37.015876,POINT (37.01588 -1.10152)

In [2]:
# working with HbAS data

#fin = 'plot_HbS.csv' # file to open
#fin = 'hbs.piel.csv' # Piel et al., 2013 HbS data
#fin = '1kgp_dengue_rs7642435.csv' # Sierra et al., 2017 OSBPL10 (rs7642435); dengue
#fin = 'a-thala.csv' # alpha-thalassaemia
fin = 'g6pd.csv' # G6PD deficiency

lat = []
lon = []
Cty = []
Ctr = []
locdat = {}

# load data from file; csv
with open(fin, 'r') as h:
    hbs = pd.read_csv(h)
    for country in hbs.Country:
        location = geolocator.geocode(country)
        print(location.address, location.longitude, location.latitude)
        lat.append(location.latitude)
        lon.append(location.longitude)
        Cty_pieces = location.address.split(",")
        Cty.append(Cty_pieces[0])
        Ctr.append(Cty_pieces[-1])
        locdat = {'City':Cty, 'Country':Ctr, 'Latitude':lat, 'Longitude':lon}

print("Done fetching coordinates!")

Uttar Pradesh, India 80.859666 27.1303344
Bihar, India 85.906508 25.6440845
Assam, India 93.2551303 26.4073841
Meghalaya, India 91.2999102 25.5379432
West Bengal, India 87.6855882 22.9964948
Odisha, India 84.6897321 20.5431241
Jharkhand, India 85.2557301 23.4559809
Madhya Pradesh, India 79.39486954625225 23.9699282
Chhattisgarh, India 81.8406351 21.6637359
Rajasthan, India 73.7684549 26.8105777
Gujarat, India 71.7452633 22.3850008
Maharashtra, India 75.6741579 18.9068356
Karnataka, India 75.7223521 14.5203896
Tamil Nadu, India 78.3665347 10.9094334
Kerala, India 76.5120396 10.3528744
中国 104.999927 35.000074
नेपाल 84.0917139 28.1083929
ኢትዮጵያ 38.6521203 10.2116702
Cabo Verde -24.0083947 16.0000552
Kavango, B1, Nomtsoub, Tsumeb, Oshikoto Region, 90009, Namibia 17.708643 -19.2632632
Cameroun 13.1535811 4.6125522
Italia 12.674297 42.6384261
Congo 15.6419155 -0.7264327
Malawi 33.9301963 -13.2687204
Uganda 32.2166578 1.5333554
Kintampo, Bono East Region, Ghana -1.728919 8.053714
Botswana 24.5928742 -23.1681782
مصر 29.2675469 26.2540493
Cape Coast, Central Region, Ghana -1.2430793 5.107467
Mali -2.2900239 16.3700359
Kenya 38.4313975 1.4419683
Guinea Ecuatorial 10.5170357 1.613172
Gambia -15.4900464 13.470062
Ibadan, Ibadan South West, Oyo, 234102, Nigeria 3.8972497 7.3777462
Nigeria 7.9999721 9.6000359
Nyanza, Amajvepfo, Rwanda 29.7504906 -2.3524553
Done fetching coordinates!

In [4]:
fout = open(fin.replace('.csv','.plot.csv'), "w+")

df = pd.DataFrame(locdat)
hbs['Longitude'] = df['Longitude']
hbs['Latitude'] = df['Latitude']
hbs.to_csv(fout, index=False, mode='r+')
hbs

                   Country   Freq   Longitude   Latitude
0     Uttar Pradesh, India   0.80   80.859666  27.130334
1             Bihar, India   2.50   85.906508  25.644085
2             Assam, India   2.80   93.255130  26.407384
3         Meghalaya, India   2.90   91.299910  25.537943
4       West Bengal, India   2.70   87.685588  22.996495
5            Odisha, India   2.30   84.689732  20.543124
6         Jharkhand, India   6.30   85.255730  23.455981
7    Madhya Pradesh, India   5.10   79.394870  23.969928
8      Chhattisgarh, India   2.90   81.840635  21.663736
9         Rajasthan, India   0.80   73.768455  26.810578
10          Gujarat, India   3.20   71.745263  22.385001
11      Maharashtra, India   1.50   75.674158  18.906836
12        Karnataka, India   0.90   75.722352  14.520390
13       Tamil Nadu, India   4.70   78.366535  10.909433
14           Kerala, India   2.60   76.512040  10.352874
15                   China   2.10  104.999927  35.000074
16                   Nepal   3.50   84.091714  28.108393
17                Ethiopia   8.90   38.652120  10.211670
18              Cape Verde   2.50  -24.008395  16.000055
19        Kavango, Namibia   3.27   17.708643 -19.263263
20                Cameroon   7.90   13.153581   4.612552
21                   Italy   1.10   12.674297  42.638426
22                   Congo  13.00   15.641915  -0.726433
23                  Malawi  11.40   33.930196 -13.268720
24                  Uganda  11.80   32.216658   1.533355
25         Kintampo, Ghana  19.00   -1.728919   8.053714
26                Botswana   1.26   24.592874 -23.168178
27                   Egypt   4.30   29.267547  26.254049
28       Cape Coast, Ghana  12.40   -1.243079   5.107467
29                    Mali  14.50   -2.290024  16.370036
30                   Kenya  11.50   38.431398   1.441968
31       Equatorial Guinea   8.70   10.517036   1.613172
32                  Gambia  12.00  -15.490046  13.470062
33         Ibadan, Nigeria  12.40    3.897250   7.377746
34                 Nigeria  15.30    7.999972   9.600036
35  Nyanza Province, Kenya   6.80   29.750491  -2.352455